    /*HOVEDSIDE*/
    
    body {
        height: auto;
        background-image: url("/bilder/school.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    /*FELLES POSITION*/
    
    #container>* {
        position: absolute;
    }
    
    #container {
        margin: auto;
        position: relative;
        width: 100%;
        height: 750px;
    }
    /* -- HEADER ----- */
    
    #logo {
        position: relative;
        text-align: center;
        color: white;
        text-shadow: 2px 2px #000000;
        font-family: 'Roboto', sans-serif;
        font-size: 5em;
        top: 300px;
        margin: auto;
        background: red;
    }
    /*    Alt innenfor NavBar-container    */
    
    #NavBar>* {
        position: absolute;
        text-align: center;
        width: 100%;
        height: 250px;
        color: white;
    }
    
    #NavBar {
        position: relative;
        height: 250px;
        top: 400px;
        margin-bottom: auto;
        margin-top: auto;
        background: red;
    }
    /*    Uteliv-ikon:     */
    
    #ICON-Uteliv {
        width: 190px;
        height: 100px;
        margin-left: 45px;
    }
    /*    Trening-ikon     */
    
    #ICON-Trening {
        width: 190px;
        height: 100px;
        margin-left: 300px;
    }
    /*    Helse-ikon   */
    
    #ICON-Helse {
        width: 190px;
        height: 100px;
        margin-left: 530px;
    }
    /*     Uteliv-ikon    */
    
    #ICON-Kollektivtransport {
        width: 190px;
        height: 100px;
        margin-left: 780px;
    }
    /*    Spisesteder-ikon    */
    
    #ICON-Spisesteder {
        width: 190px;
        height: 100px;
        margin-left: 990px;
    }
    /*     Butikker-ikon    */
    
    #ICON-Butikker {
        width: 190px;
        height: 100px;
        margin-left: 1190px;
    }