html, body {
  font-family: 'Lato', sans-serif;
  background-color: #5E565A;
  color: #EFECCA;
}

/* BEDRIFT.SHOW */


h1, h2, h3 {
  color: #FF934F;
}

.bedriftbilde {
  width: 100%;
  height: 300px;
  cursor: pointer;
  transition: 0.3s;
}

.bedriftbilde:hover {
  opacity: 0.7;
}

.bedrift {
  background-color: rgba(0,0,0, 0.2);
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 100px;
}

.omoss {
    background-color: rgba(0,0,0, 0.4);
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 100px;
}

.forside {
    background-color: rgba(0,0,0, 0.4);
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.bedrift p {
  margin-top: 30px;
}

.bedriftdiv {
  margin: 10px 0px 0px 0px;
  height: 400px;
}

.overlay {
  position: absolute;
  bottom: 145px;
  margin-top: 10px;
  background-color: rgba(0,0,0, 0.8);
  color: #EFECCA;
  font-size: 1.1em;
}

.arrangement {
  background-color: rgba(255,255,255, 0.2);
  margin-bottom: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.vulkan {
  top: 170px;
}

a {
  color: #FF934F;
}

a:hover {
  text-decoration: none;
  color: #BA6B3A;
}

.bedrift_thumbnail {
  width: 100%;
  height: 200px;
}

.kategorier {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kommentar {
  background-color: #EFECCA;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-top: 10px;
  color: #5E565A;
}

.kommentar hr {
  height: 1px;
  color: #5E565A;
  background-color: #5E565A;
  border: none;
}

.kommentar-ikon {
  width: 120px;
}

#kommentarskjema {
  margin-top: 10px;
}

textarea {
  resize: none;
  margin-bottom: 20px;
}

.kart {
  margin: 0;
  padding: 0;
  width: 100%;
}

.kart iframe {
  width: 100%;
}

.info-text {

}

.info-text ul {
  list-style-type: none;
}

.listeikoner {
  width: 40px;
}

.kamera-ikon {
  width: 80px;
  cursor: pointer;
  margin: 0;
}

.bildeopplastning {
}

.liten-thumbnail {
  width: 100px;
  height: 60px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.liten-thumbnail:hover {
  opacity: 0.7;
}

.bildeboks {
  margin-left: 30px;
}

.bilde-ramme {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.bilde {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.img-frame .img-responsive {
  max-height: 300px;
}

.bilde {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .bilde {
        width: 100%;
    }
}

/* -- HEADER -- */
.navbar-default {
    background-color: #453F42;
    border-color: #FF934F;
}
.nav.navbar-nav > li > a {
  color:#EFECCA;
}
.nav.navbar-nav > li > a:hover {
  color:#FF934F ;
}
.sokeboks {
  line-height: 60px;
}
.navbar-brand {
  margin-top: 12px;
  margin-bottom: 5px;
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  margin-left: 60px;
  margin-right: 40px;
}

/* -- KNAPPER -- */
.btn-info{
  background-color: #D17941;
}
.btn-info:hover {
  background-color: #FF934F;
}

/* PANELER */
.panel-default {
  background-color: #453F42;
}

.admin {
  margin-top: 40px;
}
/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.footer img{
    width: 50px;
}

.forsidediv
{
  height: 100px;
  margin: 10px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 0px;
}